version: '2.2'
services:
  slides:
    build:
      context: .
    ports:
      - 80:8000
    volumes:
      - ${SLIDES_DIR}:/app
    working_dir: /app
    command:
      - --port
      - "8000"
  export-slides:
    extends: slides
    volumes:
      - $PWD/static:/static
    command:
      - --absolute-url
      - ${TALK_URL:-https://localhost}
      - --static
      - /static
